$min-width:800px;

.badge-data--h1{
    align-self: center;
}
.edit{

    display: flex;
    justify-content: center;
}
.edit--button{
    width: 70%; 
    align-items: center;
    justify-content: center;
}
.values{
    background-color: rgb(161, 31, 31);
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 0 30px;
    padding-bottom:60px;
    justify-content: center; 
    border-radius: 10px;
    min-width: 350px;
    width: 25vw;
    
    &__item {
        font-weight: 500;
        font-size:  clamp(1.4rem,1.5vw,2.9rem);
        margin-top:5vh ;
        white-space: nowrap;
        overflow: hidden;


        &--info{
            margin-left: 10px;
            font-weight: 700;
            font-size: clamp(1.3rem,1.5vw,3rem);

        }
        
      
    
        &--input {
            color: #fff;
            margin-left: 10px;
            border: 1.5px solid transparent;
            height: 25px;
            background-color: rgba(226, 92, 92, 0.541);
            width: 60%;
            font-size: clamp(1rem,5vw,1.2rem);
          }
          
        &--input:focus {
        
            border-style: inset;
            outline: none;
            border: 1.5px solid rgb(204, 58, 58);
        }
    }
   
}

.delete{

    margin-top: 10px;
    &--text{
  font-size:large;

        text-align: center;
    }
}
.save{
    cursor: pointer;
max-width: 300px;
    width: 100%; 
    align-items: center;
    justify-content: center;
}

    @media screen and (max-width: $min-width) {
   
        .values{
            align-items: center;
            justify-content: center;
            min-width: 100vw;
            padding: 0;
            margin-top: 200px;
            padding-bottom:50px; 
            &__item{
                font-weight: 700;
                font-size: clamp(1.1rem,1.5vw,1.5rem);
            
                white-space: normal;
                text-overflow: ellipsis;
                width: 70vw;
                &--info{
                    margin-left: 10px;
                    font-weight: 700;
                    font-size: clamp(1rem,1.5vw,3rem);
                }
                &--input {
                    width: 100%;
                    height: 25px;
                    margin-left: 0px;
                }
            }
            
        }

        .delete{
            margin-top: 20px;

            margin-bottom: 40px;
        }
    }