$min-width:800px;

.badge-data--h1{
    align-self: center;
}
.edit{

    display: flex;
    justify-content: center;
}
.edit--button{
    width: 70%; 
    align-items: center;
    justify-content: center;
}
.values{
    background-color: rgb(161, 31, 31);
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 0 30px;
    padding-bottom:60px;
    justify-content: center; 
    border-radius: 10px;
    min-width: 300px;
    &__item {
        font-weight: 500;
        font-size:  clamp(1rem,1.5vw,2.9rem);
        margin-top:5vh ;
        white-space: nowrap;
        &--info{
            margin-left: 10px;
            font-weight: 700;
            font-size: clamp(1rem,1.5vw,3rem);

        }
        
      
    
        &--input {
            color: #fff;
            margin-left: 10px;
            border: 1.5px solid transparent;
            height: 25px;
            background-color: rgba(226, 92, 92, 0.541);
          }
          
        &--input:focus {
        
            border-style: inset;
            outline: none;
            border: 1.5px solid rgb(204, 58, 58);
        }
    }
   
}

.delete{

    margin-top: 10px;
  
    &--text{
        text-align: center;
    }
}
.save{
    cursor: pointer;
max-width: 300px;
    width: 100%; 
    align-items: center;
    justify-content: center;
}

    @media screen and (max-width: $min-width) {

        .values{
            align-items: center;
            justify-content: center;
            min-width: 100vw;
            padding: 0;
            margin-top: 200px;
            padding-bottom:50px; 
            &__item--info{
                margin-left: 10px;
                font-weight: 700;
                font-size: clamp(1.1rem,1.5vw,3rem);
        
            }
        }

        .delete{
            margin-top: 20px;

            margin-bottom: 40px;
        }
    }