body{
    background-color:#0c0c0c;
}


.row{
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 670px) {
    
    .row{
        flex-direction: column;
}

.badge{

    order:1;
}

}


