.filter{
    font-weight: 700;
    color: #fff;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;

    font-size:1.2rem;
    width: 100vw;

    max-width: 300px;
    margin-bottom: 2px;
    border-radius: 2px;
    &__container{
      border: 1.5px solid transparent;
      height: 25px;
      background-color: #eee;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__icon{
      background-image: url(../assets/icons/loupe.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position:center;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin: 0 1rem;
    }
    &__box {
        height: 25px;
        background-color: #eee;
        width: 100%;
        border:hidden;
      }
      
&__container:focus {

    border-style: inset;
    outline: none;
    border: 1.5px solid rgb(197, 197, 197);
  }
  &__box:focus{
    outline:none;
  }

}
  