.filter{
    font-weight: 700;
    color: #fff;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;


    max-width: 400px;
    width: 100vw;


    &__box {
        border: 1.5px solid transparent;
        
        background-color: #eee;
      }
      
&__box:focus {

    border-style: inset;
    outline: none;
    border: 1.5px solid rgb(197, 197, 197);
  }

}
  