@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');

$red-ted-color:#cc1a1a;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: initial;
}

html{
  overflow-x:hidden ;
}
body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

h1 {
      font-size: clamp(2rem,3vw,3rem);
  font-family: 'Anton', sans-serif;
}


.container--buttons{
display: flex;
  flex-direction: row;
  justify-content:space-around;

  margin: 2rem;

}
.button{
display: flex;

  width: fit-content;
  align-items: center;
  padding: 0 7px;
  height: 25px;
}

.container__button{
  


  margin: 2rem;
  padding: 0.375rem 2rem;
}

.button.button--primary {
  color: #fff;
  background-color: #EE4354;
  border-color: #cf3c4a;
  text-decoration: none;
  font-size: x-large;
  padding: 1.2rem;


}

.button.button--primary:not(:disabled):not(.disabled):hover {
  background-color: #b82534;
  border-color: rgb(167, 28, 28);
}

.button.button--primary:not(:disabled):not(.disabled):active {
  background-color: rgb(155, 30, 30);
  border-color: rgba(151, 21, 21, 0.699);
}

.button.button--primary:not(:disabled):not(.disabled):focus {
  box-shadow: 0 0 0 0.2px rgba(201, 30, 30, 0.438);
}


.button.button-cancel {
  color: #fff;
  background-color: #70ae6e ;
  border-color:#639961 ;

  cursor: pointer;
  
}

.button.button-cancel:not(:disabled):not(.disabled):hover {
  background-color: #5f925d;
  border-color:#4d754c ;

}

.button.button-cancel:not(:disabled):not(.disabled):active {
  background-color: #50814e;
  border-color:#436e41 ;

}

.button.button-cancel:not(:disabled):not(.disabled):focus {
  box-shadow: 0 0 0 0.2px #6aa36885;
}




.button-danger {

  color: #9e0d0d;
  cursor: pointer;
}

.button-danger:not(:disabled):not(.disabled):hover {
  color: #8a0606;
}

.button-danger:not(:disabled):not(.disabled):active {
  color: #d10c0c;
}

.button.button-danger:not(:disabled):not(.disabled):focus {
  box-shadow: 0 0 0 0.2px rgba(255, 64, 64, 0.5);
}



.button.button-delete {
  color: #fff;

  background-color: #9e0d0d;
  border-color:#910e0e ;
  
  cursor: pointer;
}

.button.button-delete:not(:disabled):not(.disabled):hover {

  background-color: #8a0606;
  border-color:rgb(126, 12, 12) ;

}

.button.button-delete:not(:disabled):not(.disabled):active {

  background-color: #700505;
  border-color:#6e0505 ;

}

.button.button-delete:not(:disabled):not(.disabled):focus {

  box-shadow: 0 0 0 0.2px rgba(255, 64, 64, 0.5);
}

